<IfModule mod_rewrite.c>

    RewriteEngine On

    # https
    #RewriteCond %{SERVER_PORT} !^443$ 
	#RewriteRule ^(.*)$ https://everythingtag.com/$1 [R=301,L]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

php_value post_max_size 200M
php_value upload_max_filesize 200M
